/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.sectionname a, .navbar-light .navbar-nav .nav-link {
	color: #6EB1E5 !important;
}

body {
	font-family: 'Dosis';
    font-size: 17px;
}

.course-content ul.topics li.section, .course-content ul.weeks li.section {
  padding:5px !important;
  margin: 5px !important;
  min-height: 30px !important;
 }

.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
  min-height: 30px !important;
}

.instancename {
  color: #3A3A3A !important;
}

#page-course-view-topics .instancename {
  font-size: 1.1em !important;
}

.block_course_overview .coursebox {
    width: 33%;
    border: 1px solid #dfdfdf;
    float:left;
}

.course-content ul.topics li.section, .course-content ul.weeks li.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 23% !important;
    margin:1%;
    float: left;
    min-height: 320px;
    border: 1px solid #dfdfdf;
}

.coursebox {
  width:23%;
  float:left;
  margin:1%;
  background-color:#dfdfdf !important;
  margin-top: 3%;
  margin-bottom: 3%;
  min-height:300px;
}

.coursebox .content .courseimage img {
    height:50%;
    margin:0px;
    padding:0px;
    max-width: none;
    max-height:none;
}

.coursebox>.info>.coursename a, .coursebox .content .courseimage, .coursebox>.info>h3.coursename  {
    width: 100% !important;
}

.coursebox>.info>.coursename a, .course_title>.coursename a {
    background-image: none;
    height:45px;
    margin:0px;
    padding:0px;
    padding-top:5px;
    color:#3A3A3A;
    font-size:18px;
}

#section-0 { display: none;}

.course-content ul li.section.main:last-child {
    border: 1px solid #dfdfdf;
}

/* Header */
header.navbar {
    padding: 0 0 !important;
}

.navbar-nav {
    background-color:black !important;
    min-height: 5vh;
    padding-top: 1vh;
}

.site-name {
  display: none !important;
}

div.breadcrumb-nav {
    font-size: 15px;
}


/* Footer */

#page-footer a {
  color: #fff;
}
.footer-column {
  width: 33%;
  float:left;
}

.footer-column-title {
  color: #fff;
  font-size:18px;
  font-weight:bold;
}

.footer-column-link {
  font-size: 14px;
  font-weight:normal; 
}

.coursebox .content .courseimage img {
  /*width:105%;
  margin-left:-12px;
  margin-top:-22px;
  height:200px;*/
  margin-left:0px!important;
margin-top:0px!important;
width:100% !important
}

#page-mod-quiz-attempt form#responseform .content {
    margin: 0 0;
    font-size: 1.25em;
}

#page-mod-scorm-player div[role="main"] h2 {
  display: none !important;
}
.coursebox{
padding:0 !important;
}

#page-site-index #page, #page-course-index-category #page {
    margin-top: 10vh;
}

.courseimage{
margin:0 !important;
}

#page-site-index div.card-block div.box, #page-site-index form#coursesearch, #page-course-index-category form#coursesearch, #page-course-search form#coursesearch {
    display: inline-block;
}

#page-site-index div.paging.paging-morelink {
    display: inline-block;
    position: absolute;
    right: 1%;
    margin-top: 3vh;
}

#page-course-index div.paging.paging-morelink {
  display:none !important;
}

#page-course-index .page-header-headings {
  display:none !important;
}

.coursebox > .info > .coursename a, .course_title > .coursename a {
  padding: 0 8px 2px 0;
  text-align: center;
}

.coursebox:nth-child(4n+1) {
  clear: both !important;
}


.coursecont {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align:center;
}


.coursecont2 img {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 26%;
    transform: translate(-50%, -50%);
    width: 250px;
    clip: rect(50px,250px,200px,0px);
}

.coursename a {
    bottom: 2%;
    font-size: 0.65em;
    left: 0;
  /*  position: absolute;*/
    width: 100%;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    color: #3a3a3a;
}

#page-course-index-category .coursename a, #page-course-index .coursename a , #page-site-index .coursename a, #page-course-search .coursename a {
    font-size:1em;
    margin-top: 3vh;
}

html {
  font-size:15px;
}

#page-mod-assign-view div [role="main"] {
  font-size:1.2em;
}

div.courses div.content h3.coursename {
    margin: 0px;
    padding: 10px;
    padding-top: 2vw;
    font-size: 1.3em;
}

/***** SITE - MY COURSES *****/
#page-site-index div.card-block div.box, #page-site-index form#coursesearch, #page-course-index-category form#coursesearch, #page-course-search form#coursesearch {
    display: block;
}

#page-site-index form#coursesearch label, #page-course-index-category form#coursesearch label, #page-course-search form#coursesearch label {
    margin-right: 1vh;
}

#page-site-index form#coursesearch fieldset.coursesearchbox {
    width: 100%;
}

#page-site-index form#coursesearch fieldset.coursesearchbox label #page-course-search form#coursesearch fieldset.coursesearchbox label {
    display: none;
}

#page-site-index form#coursesearch #shortsearchbox, #page-course-search form#coursesearch #shortsearchbox {
    min-width: 10vw;
    max-width: 30vw;
    margin: auto;
    margin-bottom: 1vh;
    display: inline-block;
}

#page-site-index form#coursesearch fieldset input[type="submit"] {
    margin-left: 1vh;
    vertical-align: initial;
}

#site-news-forum h2, #frontpage-course-list h2, #frontpage-category-names h2, #frontpage-category-combo h2 {
    margin-bottom: 5vh;
    margin-left: 2vh;
}

@media screen and (max-width: 767px) {
    #site-news-forum h2, #frontpage-course-list h2, #frontpage-category-names h2, #frontpage-category-combo h2 {
        text-align: center;
    }
}

#site-news-forum h2, #frontpage-course-list h2, #frontpage-category-names h2, #frontpage-category-combo h2 {
    font-size: 2.5em;
}
/***** END ******/

/***** COURSE CATEGORY *****/
#page-course-index-category #coursesearch {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    text-align: right;
}

#page-course-index-category div.paging-morelink {
    margin: 1vh 0vh 2vh 0vh;
    text-align: right;
}

#page-course-index-category div.courses div.info, #page-course-index div.courses div.info, #page-site-index div.courses div.info, #page-course-search div.courses div.info,
#page-course-index-category div.courses div.content, #page-course-index div.courses div.content, #page-site-index div.courses div.content, #page-course-search div.courses div.content {
    min-height: 350px;
    margin-bottom: 5vh;
}

/***** END *****/

/***** QUIZ REPORT GRADER *****/
#page-mod-quiz-report div.quizattemptcounts {
    margin-left: 50%;
    font-size: 1.2em;
}

#page-mod-quiz-report div#tablecontainer {
    margin: 5vh 0vh 10vh 0vh;
}

#page-mod-quiz-report div#commands {
    margin: 3vh 0vh;
}

#page-mod-quiz-report div.graph {
    margin-top: 5vh;
}

#page-mod-quiz-report form#mform1 {
    margin-bottom: 3vh;
}

#page-mod-quiz-report div.chart-table {
    font-size: 1.1em;
    margin-top: 3vh;
}

#page-mod-quiz-report div.chart-table div.chart-table-data {
    font-size: 1.1em;
    width: 80%;
    max-width: 80%;
    margin: auto;
    margin-top: 5vh;
}

/****** END *****/

/***** QUIZ SETTINGS *****/
#page-mod-quiz-edit h2 {
    margin-bottom: 3vh;
}

#page-mod-quiz-edit div.statusbar {
    font-size: 1.2em;
}

#page-mod-quiz-edit div.rpcontainerclass {
    text-align: right;
}

#page-mod-quiz-edit .section-heading {
    font-size: 1.2em;
}

#page-mod-quiz-edit div.instancesectioncontainer label {
    font-size: 0.8em;
    margin-left: 0.5em;
}

#page-mod-quiz-edit span.instanceshufflequestions label {
    font-size: 0.8em;
    margin-left: 0.5em;
}

#page-mod-quiz-edit .last-add-menu {
    font-size: 0.8em;
    margin-left: 0;
}

#page-mod-quiz-edit div.last-add-menu > span.add-menu-outer {
    right: auto;
    font-size: 18px;
    margin-top: 5vh;
}

#page-mod-quiz-edit div.last-add-menu > span.add-menu-outer div.menubar {
    color: #373a3c !important;
    background-color: #fff;
    border-color: #ccc;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

#page-mod-quiz-edit div.last-add-menu > span.add-menu-outer div.menubar:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

#page-mod-quiz-edit div.last-add-menu > span.add-menu-outer div.menubar a {
    margin-left: 0;
    color: #373a3c !important;
}

#page-mod-quiz-edit div.dropdown-menu {
    left: 0;
    min-width: 300px;
}

#page-mod-quiz-edit div.last-add-menu > span.add-menu-outer div.menubar .dropdown-toggle::after {
    display: none;
}

#page-mod-quiz-edit li.pagenumber .add-menu-outer:not(:last-child) {
    display: none;
}

#page-mod-quiz-edit .maxgrade, #page-mod-quiz-edit .totalpoints {
    display: none;
}

#page-mod-quiz-edit #repaginatecommand {
    margin-left: 1rem;
}

/***** END*****/

/***** QUIZ ATTEMPT *****/
#page-mod-quiz-attempt div.qtext p {
    display: inline-block;
}
div.editor_atto_content td, div.editor_atto_content th, div.editor_atto_content caption{
    border:1px solid #ddd !important;
    padding: 5px;
}
/***** END *****/

/***** QUIZ REVIEW *****/
#page-mod-quiz-review .answer table, #page-mod-quiz-review .answer table tr td, #page-mod-quiz-review .answer table tr th {
    border:1px solid #ddd;
    min-width: 30px;
    height: 13px;
    padding: 5px;
}
/***** END *****/

/***** ASSING GRADER *****/
#page-mod-assign-grading h2 {
    margin-bottom: 3vh;
}

#page-mod-assign-grading form.form-inline div.form-group {
    margin: 3vh 0vh;
}

#page-mod-assign-grading tbody input[name="selectedusers"]{
    margin-left: 7px;
}

#page-mod-assign-grading div.gradingtable {
    padding: 0vh 5vh;
}

#page-mod-assign-grading form.gradingbatchoperationsform div.form-group > div {
    text-align: center;
}

#page-mod-assign-grading form.gradingbatchoperationsform {
    padding-left: 0vh;
    text-align: center;
}

#page-mod-assign-grading form.gradingbatchoperationsform div.form-group div {
    width: auto;
    float: none;
    display: inline-block;
}
/***** END *****/

/***** REPORT GRADER *****/
#page-grade-report-grader-index div.grade-navigation {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

#page-grade-report-grader-index form {
    margin-bottom: 3vh;
}
#page-grade-report-grader-index form h3 {
    margin-bottom: 1.5rem;
}

body.path-grade-report-grader .gradeitemheader {
    max-width: 500px;
}

#page-grade-report-grader-index form div.initialbar {
    font-size: 1.1rem;
}

#page-grade-report-grader-index form table.gradereport-grader-table {
    margin-top: 2vh;
}

#page-grade-report-grader-index table.gradereport-grader-table span[id*="courseheader_"] {
    font-size: 1.3em;
}

#page-grade-report-grader-index table.gradereport-grader-table tr:not(:first-child) th {
    font-size: 1.1em;
}

/***** END *****/

/***** QUESTION BANK *****/
#page-question-edit h2 {
    margin-bottom: 3vh;
}
#page-question-edit div.categoryinfo {
    margin-bottom: 3vh;
    margin-top: 1vh;
}

#page-question-edit div#advancedsearch {
    min-height: 100px;
}

#page-question-edit div#advancedsearch_sizer {
    margin-top: 1vh;
}

#page-question-edit div#advancedsearch_caption {
    margin-bottom: 1vh;
}

#page-question-edit div.modulespecificbuttonscontainer {
    margin-top: 2vh;
    padding: 0;
}

#page-question-edit div.categoryquestionscontainer {
    margin: auto;
    padding: 0 2vh;
}

#page-question-edit div.createnewquestion {
    margin: 1vh 0vh 3vh 0vh;
}

#page-question-edit #categoryquestions td.creatorname, #page-question-edit #categoryquestions td.modifiername {
    line-height: 1.3em;
    text-align: center;
    padding: 1vh;
}
/***** END *****/

/***** QUESTION BANK POPUP *****/
#page-mod-quiz-edit div.questionbankformforpopup div.categoryinfo {
    margin-bottom: 3vh;
    margin-top: 1vh;
}

#page-mod-quiz-edit div.questionbankformforpopup div#advancedsearch {
    min-height: 100px;
}

#page-mod-quiz-edit div.questionbankformforpopup div#advancedsearch_sizer {
    margin-top: 1vh;
}

#page-mod-quiz-edit div.questionbankformforpopup div#advancedsearch_caption {
    margin-bottom: 1vh;
}

#page-mod-quiz-edit div.questionbankformforpopup div.modulespecificbuttonscontainer {
    margin-top: 2vh;
    padding: 0;
}

#page-mod-quiz-edit div.questionbankformforpopup div.categoryquestionscontainer {
    margin: auto;
}

#page-mod-quiz-edit div.questionbankformforpopup div.modulespecificbuttonscontainer input {
    color: #373a3c!important;
    background-color: #fff;
    border-color: #ccc;
    display: block;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    margin-top: 2vh;
}

#page-mod-quiz-edit div.questionbankformforpopup div.modulespecificbuttonscontainer input:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

/***** END *****/

/***** SITE POLICIES *****/
#page-site-policies #notice {
    text-align: justify;
    padding: 2vw;
}

#page-site-policies h3, #page-site-policies h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

#page-site-policies #notice h4 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

#page-site-policies #notice h5 {
    margin-bottom: .5rem;
    margin-top: 1.5rem;
}

#page-site-policies #notice p {
    font-weight: initial;
}

#page-site-policies #notice li {
    padding: 1rem;
}

#page-site-policies #notice ul {
    margin-left: 1.5rem;
}

#page-site-policies #notice div.last-update {
    margin-top: 2rem;
    float: right;
}
/***** END *****/

/***** PERSONAL AREA *****/
#page-my-index .block_course_overview .coursebox {
    width: 30%;
    border: 1px solid #dfdfdf;
    float: left;
    margin-right: 0.25em;
    margin-left: 0.6em;
    min-height: 350px;
    text-align: center;
}

#page-my-index .block_course_overview .content {
    margin: 0px;
}

@media screen and (max-width: 512px) {

    #page-my-index .block_course_overview .coursebox {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {

    #page-my-index .block_course_overview .coursebox {
        width: 43%;
    }

    #page-course-index-category div.courses div.info, #page-course-index div.courses div.info, #page-site-index div.courses div.info,
    #page-course-index-category div.courses div.content, #page-course-index div.courses div.content, #page-site-index div.courses div.content{
        min-height: 400px;
    }
}

@media screen and (max-width: 767px) {

    #page-site-index .coursename a, #page-course-search h3.coursename a {
        font-size: 1.3em;
    }

    div.courses div.content h3.coursename {
        padding-top: 4vw;
    }

    #page-my-index .block_course_overview .coursebox {
        width: 90%;
    }
}

@media screen and (max-width: 512px) {

    #page-site-index .coursename a, #page-course-search h3.coursename a {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1024px) {

    #page-site-index .coursename a, #page-course-search h3.coursename a {
        font-size: 1.3em;
    }
}


#page-my-index .block_course_overview .course_title {
    text-align: center;
}

#page-my-index .block_course_overview .course-image {
    height: 150px
}

#page-my-index .coursebox:nth-child(4n+1) {
    clear: none !important;
}


#page-my-index div.content h3.coursename, #page-course-search div.content h3.coursename {
    margin: 0px;
    padding: 10px;
    padding-top: 4vh;
}

#page-my-index .coursename a, #page-course-search .coursename a {
    font-size:0.9em;
    margin-top: 3vh;
}
/***** END *****/

/***** MESSAGES *****/
div.messaging-area-container .messaging-area .contacts-area, div.messaging-area-container .messaging-area .messages-area {
    height: 620px;
}

div.messaging-area-container .messaging-area .contacts-area .tabs {
    height: 70px;
}

div.messaging-area-container .messaging-area .contacts-area .tabs .tab {
    padding-top: 7px;
    padding-bottom: 7px;
}

div.messaging-area-container .messaging-area .messages-area .messages .message .content,
div.messaging-area-container .messaging-area .messages-area .messages-header .name-container .status,
div.messaging-area-container .messaging-area .messages-area .messages-header .btn-link,
div.messaging-area-container .messaging-area .messages-area .messages .blocktime {
    font-size: 16px;
}

div.messaging-area-container .messaging-area .messages-area .response {
    padding: 20px 10px 18px;
}

/***** END *****/

/***** LOGIN *****/
#page-login-index div.buycourses {
    padding-top: 5vh;
}
/***** END *****/

/***** COURSE PARTICIPANTS LIST *****/
#page-course-view-topics div.userlist table.controls{
    margin-bottom: 5vh;
    margin-top: 3vh;
}

#page-course-view-topics div.userlist div.rolesform{
    margin: 3vh 0vh 5vh 0vh
}

#page-course-view-topics div.userlist h3{
    margin-bottom: 3vh;
}

#page-course-view-topics div.userlist table#participants{
    margin-top: 5vh;
}

#page-course-view-topics div.userlist div.buttons{
    margin-top: 2vh;
    margin-bottom: 1vh;
}

#page-course-view-topics .userlist table#participants td, #page-course-view-topics .userlist table#participants th {
    padding: 3vh;
}
/***** END ******/

/***** GRADE AND COMMENTS *****/
form#manualgradingform div.fitem_actionbuttons input[type="button"]:last-child {
    display: none;
}
/***** END *****/

/***** SEARCH COURSES PAGE *****/
#page-course-search div.course-search-result nav {
    clear: both;
    margin-top: 3vh;
}

#page-course-search div.paging-showall, #page-course-search div.paging {
    margin-top: 3vh;
    margin-bottom: 3vh;
    clear: both;
}

#page-course-search div#page-content div > h2 {
    margin-bottom: 3vh;
}

#page-course-search form#coursesearchnavbar fieldset.coursesearchbox, #page-course-search form fieldset.coursesearchbox {
    width: 100%;
}

#page-course-search form#coursesearchnavbar fieldset.coursesearchbox label, #page-course-search form fieldset.coursesearchbox label {
    display: none;
}

#page-course-search form#coursesearchnavbar #navsearchbox, #page-course-search form #navsearchbox {
    min-width: 200px;
    width: 15%;
    margin: auto;
    margin-bottom: 1vh;
    display: inline-block;
}

#page-course-search form#coursesearchnavbar fieldset input[type="submit"], #page-course-search form fieldset input[type="submit"] {
    margin-left: 1vh;
    vertical-align: initial;
}

#page-course-search input#coursesearchbox {
    width: initial;
    display: inline-block;
}

.activityindent {
    margin-left: 30px;
}
/***** END *****/

/***** CONDITIONS OF USE PAGE *****/
#page-conditions-use header, #page-conditions-use #nav-drawer {
    display: none;
}

#page-conditions-use {
    margin-left: 0px;
}

#page-conditions-use div.conditions-section {
    margin-top: 20px;
    margin-bottom: 10px;
}

#page-conditions-use div.conditions-section h4, #page-conditions-use h3, #page-conditions-use h2 {
    margin-bottom: 1.0rem;
    color:#034883;
    font-weight: bold;
}

#page-conditions-use h5 {
    color: #6eb0e2;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

#page-conditions-use ul {
    list-style: none;
}

#page-conditions-use li::before {
    content: "• ";
    color: #034883; /* or whatever color you prefer */
}

#page-conditions-use p.subtitles {
    text-decoration: underline;
}
/***** END *****/

.popover-region-messages {
    visibility: hidden;
    display: none;
}
